[program:celery]
environment=C_FORCE_ROOT="true"
command={{ application_path_virtualenv }}/bin/python {{ application_path_application }}/manage.py celery worker --settings={{ application_django_settings }}
user={{ application_user }}
umask=0001
killasgroup=true
priority=10
autorestart=true
autostart=true
stopsignal=INT
startsecs=1
startretries=3
stopwaitsecs=10
redirect_stderr=true
directory={{ application_path_root }}
stdout_logfile_maxbytes=10MB
stdout_logfile={{ application_path_logs }}/celery.log
